*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: #d1c2e5;
    justify-content: center;
    text-align: center;
    align-items: center;   
}


.card{
    margin-top: 150px;
}

.contenedor{
    background-color: white;
    border-radius: 20px;
    padding: 0px 15px;
    width: 400px;
    height: 200px;
    margin: auto;
}

.input{
    border: none;
    border-radius: 20px;
    font-size: 40px;
    width: 430px;
    height: 60px;
}

.box {
    height: 100px;
    display: inline;
    border: none;
    text-align: left;
}

.titulo{
    color: #4d6c19;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.subcard{
    display: inline-block;
}

.subtitulo{
    color: #4d6c19;
    font-size: 20px;
    text-align: left;
}

.input{
    margin-top: 5px;
}
