*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    justify-content: center;
    text-align: center;
    align-items: center;   
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, rgb(211, 177, 250), rgb(235, 215, 252));    
}

.card{
    margin-top: 150px;
   margin-bottom: 200px;
}

.container{
    background-color: white;
    border-radius: 20px;
    padding: 0px 15px;
    width: 420px;
    height: 240px;
    margin: auto;
    box-shadow: 1px 1px 20px 1px rgb(180, 161, 194);
}

.input{
    border: none;
    border-radius: 20px;
    font-size: 20px;
    width: 450px;
    height: 60px;
    margin-top: 5px;
    box-shadow: 1px 1px 20px 1px rgb(180, 161, 194);
}

.box {
    
    height: 100px;
    padding:10px;
    font-size: 13px;
    display: inline;
    border: none;
    text-align: left;
    font-weight:500;
}

.title{
    color: #4d6c19;
    font-size: 27px;
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
}

.subcard{
    display: inline-block;
}

.subtitle{
    color: #4d6c19;
    font-size: 16px;
}

@media (min-width:320px) and (max-width:480px){

    .card{
        margin-top: 50px;
    }

    .container{
        width: 250px;
        height: 500px;
        text-align: left;
    }

    .box{
        height: 90px;
    }

    .input{
        width: 280px;
    }

   .form{
       width: 200px;
   }
}

@media (max-width:319px){

    .card{
        margin-top: 60px;
    }

    .container{
        width: 200px;
        height: 500px;
        text-align: left;
    }

    .box{
        height: 100px;
    }

    .input{
        width: 230px;
    }

    .title{
        font-size: 20px;
    }

   .form{
       width: 200px;
       font-size: 12px;
   }   
}